/*https://github.com/nax3t/background-slider*/
body {
    background-color: #000;
}

/*position the welcome text and view all campgrounds buton*/
#landing-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 40vh;
}

#landing-header h1 {
    color: #fff;
}

.slideshow { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

.slideshow li { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite; 
}
/* twitter */
.slideshow li:nth-child(1) { 
    background-image: url(https://images.unsplash.com/photo-1543185377-aa2f876d1760?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80) 
}
/* facebook */
.slideshow li:nth-child(2) { 
    background-image: url(https://images.unsplash.com/photo-1432888622747-4eb9a8efeb07?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80);
    animation-delay: 10s; 
}
/* youtube */
.slideshow li:nth-child(3) { 
    background-image: url(https://images.unsplash.com/photo-1541877944-ac82a091518a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    animation-delay: 20s; 
}
/* instagram */
.slideshow li:nth-child(4) { 
    background-image: url(https://images.unsplash.com/photo-1519423791119-fef2800aaef7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80);
    animation-delay: 30s; 
}
/* snapchat */
.slideshow li:nth-child(5) { 
    background-image: url(https://images.unsplash.com/photo-1531161339673-a943dd10e29f?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
    animation-delay: 40s; 
}

@keyframes imageAnimation { 
    0% { 
        opacity: 0; 
        animation-timing-function: ease-in;
    }
    10% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
    20% {
        opacity: 1
    }
    30% {
        opacity: 0
    }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
    opacity: 1;
}

a {
    color: white;
}